<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8"> {% load staticfiles %}
  <title>工控平台中心 - Admin </title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="{% static 'layuiadmin/layui/css/layui.css' %}" media="all">
  <link rel="stylesheet" href="{% static 'layuiadmin/style/admin.css' %}" media="all">

  <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
</head>

<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">

      <div class="layui-col-md12">

        <div class="layui-row layui-col-space15">


          <div class="layui-col-md8">
            <div class="layui-card">
              <div class="layui-card-header layui-bg-cyan">信息统计</div>
              <div class="layui-card-body">

                <div class="layui-carousel layadmin-carousel layadmin-backlog">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs2">
                        <a href="javascript:;" class="layadmin-backlog-body layui-bg-red">
                          <h3>工厂数量</h3>
                          <p>
                            <cite style="color: #F0F0F0;">5</cite>
                          </p>
                        </a>
                      </li>
                      <li class="layui-col-xs2">
                        <a href="javascript:;" class="layadmin-backlog-body layui-bg-orange">
                          <h3>部门数量</h3>
                          <p>
                            <cite style="color: #F0F0F0;">5</cite>
                          </p>
                        </a>
                      </li>
                      <li class="layui-col-xs2">
                        <a href="javascript:;" class="layadmin-backlog-body layui-bg-blue">
                          <h3>机床数量</h3>
                          <p>
                            <cite style="color: #F0F0F0;">6</cite>
                          </p>
                        </a>
                      </li>

                      <li class="layui-col-xs2">
                        <a href="javascript:;" class="layadmin-backlog-body layui-bg-green">
                          <h3>上位机数量</h3>
                          <p>
                            <cite style="color: #F0F0F0;">4</cite>
                          </p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <script src="{% static 'layuiadmin/layui/layui.js' %}"></script>
  <script>
    layui.config({
      base: "{% static 'layuiadmin/' %}" //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'console']);
  </script>

</body>

</html>