<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>创建传感器</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="{% static 'layuiadmin/layui/css/layui.css' %}" media="all">
  <link rel="stylesheet" href="{% static 'layuiadmin/layui/css/modules/layer/default/layer.css' %}" media="all">
  <link rel="stylesheet" href="{% static 'layuiadmin/style/admin.css' %}" media="all">

  <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'highcharts/code/highstock.js' %}"></script>

  <script src="{% static 'highcharts/code/modules/exporting.js' %}"></script>
  <script src="{% static 'highcharts/code/modules/boost.js' %}"></script>
</head>

<body>

  <style>
    /* 这段样式只是用于演示 */

    #LAY-component-grid-all .layui-card-body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: 200px;
    }
  </style>

  <div class="layui-fluid" id="LAY-component-grid-all" style="overflow:visible">
    <div class="layui-row layui-col-space10">
      <div style="margin-left: 1px">
        <div class="layui-container">
          <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <form class="layui-form" action="" name="formname">
              <div class="layui-form-item">
                <label class="layui-form-label">传感器ID</label>
                <div class="layui-input-block">
                  <input id="RaspID" type="text" name="SensorID" lay-verify="title" autocomplete="on" placeholder="" class="layui-input" disabled>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">传感器名称</label>
                <div class="layui-input-block">
                  <input type="text" name="SensorDes" lay-verify="required" placeholder="请输入感器名称" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                  <label class="layui-form-label">传感器类型</label>
                  <select name="factory" id="all-select-Factory" lay-filter="factoryID">
                      <option value="0">请选择传感器类型</option>
                      <option value="1">数值传感器</option>
                      <option value="2">开关传感器</option>
                      <option value="3">泛值传感器</option>
                    </select>
                  </div>
                </div>
              <div class="layui-form-item">
                <label class="layui-form-label">设备描述</label>
                <div class="layui-input-block">
                  <input type="text" name="otherInfo" lay-verify="required" placeholder="请输入设备描述" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">制造工厂</label>
                <div class="layui-input-block">
                  <select name="factory" id="all-select-Factory" lay-filter="factoryID">
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">生产部门</label>
                <div class="layui-input-block">
                  <select name="productDepart" id="all-select-Depart" lay-filter="departID">
                    <option value="">请选择生产部门</option>
                  </select>
                </div>
              </div>

              <button class="layui-btn" lay-submit="" lay-filter="demo1" id="addData" style="display:none;">立即提交</button>
            </form>

          </div>

        </div>
      </div>
    </div>

  </div>

  <script src="{% static 'layuiadmin/layui/layui.js' %}"></script>

  <script>
    layui.config({
      base: "{% static 'layuiadmin/' %}" //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index']);

  </script>


  <script>
    function loadFactoryselect(form) {
      $.ajax({
        type: 'POST',
        url: '/api/getNav',
        success: function (data) {
          $("#all-select-Factory").empty();
          $("#all-select-Factory").append("<option>选择制造中心</option>");
          for (var i = 0; i < data.data.length; i++) {
            $("#all-select-Factory").append("<option value=" + data.data[i].factorID + "> " + data.data[i].factorDes + "</option>")
          }
          form.render();
        }
      })
    }

    function loadRaspID(form) {
      $.ajax({
        type: 'POST',
        url: '/api/getLastIDInRaspInfo',
        success: function (data) {
          $("#RaspID").empty();
          $("#RaspID").val(data.data.ID);
          form.render();
          if (data.code == 500) {
            parent.layer.msg(data.msg);
          }
        }
      })
    }

  </script>

  <script>

    layui.use('form', function () {
      var form = layui.form;
      loadFactoryselect(form);
      loadRaspID(form);

      //获取部门下拉框
      form.on('select(factoryID)', function (FactoryID) {

        $.ajax({
          type: 'POST',
          url: '/api/getDepart',
          data: {
            factoryID: FactoryID.value
          },
          success: function (data) {
            $("#all-select-Depart").empty();
            $("#all-select-Depart").append("<option>请选择生产部门</option>");

            for (var i = 0; i < data.data.length; i++) {

              $("#all-select-Depart").append("<option value=" + data.data[i].departID + "> " + data.data[i].depatrDes + "</option>")

            }
            form.render();
          }
        })
      })

      form.on('submit(demo1)', function (data) {

        //data.field

        $.ajax({
          type: "POST",
          url: "/api/addRaspInfo",//url
          data: data.field,
          success: function (result) {
            console.log(result);//打印服务端返回的数据(调试用)
            if (result.code == 200) {
              parent.layer.msg(result.msg)
              var index = parent.layer.getFrameIndex(window.name);  //获取窗口索引
              //关闭iframe
              parent.layer.close(index);
            }
            if (result.code == 500) {
              parent.layer.msg(result.msg)
            }
          }
        });

        return false;
      });
    });

  </script>

</body>

</html>