<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
  
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    
    <script src="{% static 'highcharts/code/highcharts.js' %}"></script>
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'highcharts/code/modules/exporting.js' %}"></script>
    <script src="{% static 'highcharts/code/modules/boost.js' %}"></script>
  </head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">后台管理</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">首页</a></li>
      <li class="layui-nav-item"><a href="">用户配置</a></li>
      <li class="layui-nav-item"><a href="">系统配置</a></li>
      <li class="layui-nav-item"><a href="">个人信息管理</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
          </dl>
      </li>

    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="{% static 'images/png/favico.png' %}" class="layui-nav-img">
          Caper911
 <!--        <span class="layui-nav-more"></span></a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl> -->
      </li>
      <li class="layui-nav-item"><a href="">注销</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">历史数据<span class="layui-nav-more"></span></a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">数据查询</a></dd>
            <dd><a href="javascript:;">数据修改</a></dd>
            <dd><a href="javascript:;">数据处理</a></dd>
            <dd><a href="javascript:;">数据分析</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">实时数据操作<span class="layui-nav-more"></span></a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">实时分析</a></dd>
            <dd><a href="javascript:;">实时处理</a></dd>
            
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">待添加</a></li>
      <span class="layui-nav-bar"></span></ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">  
      <blockquote class="layui-elem-quote">
        layui 后台布局， 致力于让每一位开发者都能轻松搭建自己的后台模板。
      </blockquote>
      <div class="layui-container">
       
      <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>数据采集节点信息</legend>
        
      </fieldset>
      
      <div class="layui-row">
        <div class="layui-col-xs6">
          <div class="layui-inline">
              <label class="layui-form-label">时间范围</label>
              <div class="layui-btn-group">
              
                <button class="layui-btn layui-btn-primary layui-btn-sm">Day</button>
                <button class="layui-btn layui-btn-primary layui-btn-sm">Week</button>
                <button class="layui-btn layui-btn-primary layui-btn-sm">Month</button>
                <button class="layui-btn layui-btn-primary layui-btn-sm">Year</button>
                <button class="layui-btn layui-btn-primary layui-btn-sm">Max</button>
              </div>
          </div>
        </div>

        <div class="layui-col-xs6">
          <div class="layui-input-inline">
            <input type="text" class="layui-input layui-input-primary layui-input-sm" id="test6" placeholder=" 自定义时间范围 ">
          </div>
        </div>
      </div>
      <div class="layui-row">
        <div class="layui-col-xs6">
          <div class="grid-demo grid-demo-bg1"><div id="cpu" style="height: 350px; max-width: 500px; margin: 0 auto"></div></div>
        </div>
        <div class="layui-col-xs6">
          <div class="grid-demo"><div id="mem" style="height: 350px; max-width: 580px; margin: 0 auto"></div></div>
        </div>
      </div>
      <div class="layui-row">
        <div class="layui-col-xs12">
          <div class="grid-demo grid-demo-bg1"><div id="io" style="height: 350px; max-width: 800px; margin: 0 auto"></div></div>
        </div>
      </div>
      
      </div>
    
      
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 由 layui.com 强力驱动
  </div>
</div>
<script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>

<script>
layui.use('element', function(){
  var element = layui.element;
});

layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //日期范围
  laydate.render({
    elem: '#test6'
    ,range: true
  });
});
  
 

  


</script>
<script>

$.ajaxSettings.async = false;
function getInfobyId(i=0) {
    var list = new Array();
    $.getJSON('/ajax_19info/',
                function(data) {
                    list = [].concat(data);
                } 
            )

    return list[i];
}

Highcharts.setOptions({ global: { useUTC: false } });   
                     

$.ajaxSettings.async = true;
Highcharts.setOptions({
    lang:{
       contextButtonTitle:"图表导出菜单",
       decimalPoint:".",
       downloadJPEG:"下载JPEG图片",
       downloadPDF:"下载PDF文件",
       downloadPNG:"下载PNG文件",
       downloadSVG:"下载SVG文件",
       drillUpText:"返回 {series.name}",
       loading:"加载中",
       months:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
       noData:"没有数据",
       numericSymbols: [ "千" , "兆" , "G" , "T" , "P" , "E"],
       printChart:"打印图表",
       resetZoom:"恢复缩放",
       resetZoomTitle:"恢复图表",
       shortMonths: [ "Jan" , "Feb" , "Mar" , "Apr" , "May" , "Jun" , "Jul" , "Aug" , "Sep" , "Oct" , "Nov" , "Dec"],
       thousandsSep:",",
       weekdays: ["星期一", "星期二", "星期三", "星期四", "星期五", "星期六","星期天"]
    }
});

Highcharts.chart('mem', {
  //动态生成
  chart: {
      type: 'spline',
      alignTicks: false,
      animation: Highcharts.svg, // don't animate in old IE
      marginRight: 80,

      events: {
          //加载新的点
            load: function() {

            // set up the updating of the chart each second
            // 类里面的series
            var series0 = this.series[0],
                    series1 = this.series[1];

            //1000ms刷新一次 
            setInterval(function() {
                $.getJSON('/ajax_dict_realtime/?info=mem',
                function(ret) {
                        
                // 把 ret 的每一项显示在网页上
                //var x = Date.parse(new Date(ret['time'])), // current time 
                                    
                var x = (new Date()).getTime(),
                // current time
                y = parseFloat(ret['valueUsed']),
                yy = parseFloat(ret['memPercent']);
            series1.addPoint([x, yy],true,true);
            series0.addPoint([x, y], true, true);})
        },1000);
    } }
  },
  // the title of table
  title: {
      text: '内存信息'
  },
  xAxis: {
      title: {
          text: '时间'
      },
      type: 'datetime',
      tickPixelInterval: 150
  },
  yAxis: 
     [{ // Primary yAxis 
         title: {  
             text: '已用内存 (MB)',  
             style: {  
                 // color: '#89A54E'  
                }  
         },  
         labels: {  
              style: {  
                  // color: '#89A54E'  
              }  
          },  
          max: 8000  
          }, { // Secondary yAxis  
          title: {  
              text: '内存使用率 (%)',  
              style: {  
                 // color: '#4572A7'  
              }  
          },  
          labels: {  
              style: {  
                 // color: '#4572A7'  
              }  
          },
          max: 100,
          min: 0,
          gridLineWidth: 0,
          opposite: true  
    }],
  tooltip: {
        split: false,
        xDateFormat: "%A, %b %e, %H:%M:%S",
  },
  legend: {
      enabled: true
  },
  exporting: {
      enabled: true
  },
  credits: { 
      enabled: false   //右下角不显示LOGO 
  }, 
  plotOptions: {
      spline: {
          marker: {
              enabled: true
          }
      }
  },
  series: [{
      name: '已用内存(MB)',
      tooltip: {
            valueDecimals: 0,
            valueSuffix: ' MB'
       },
      data: (function () {
          // generate an array of random data
          var data = [],
              time = (new Date()).getTime(),
              i;

          for (i = -19; i <= 0; i += 1) {
              data.push({
                  x: time + i * 1000,
                  y: getInfobyId(i+19)
              });
          }
          return data;
      }())
         
  },{
      yAxis: 1,
      name: '内存占用率 (%)',
      tooltip: {
           valueDecimals: 0,
           valueSuffix: ' %'
     },
      data: (function () {
          // generate an array of random data
          var data = [],
              time = (new Date()).getTime(),
              i;

          for (i = -19; i <= 0; i += 1) {
              data.push({
                  x: time + i * 1000,
                  y: getInfobyId(i+19)
              });
          }
          return data;
      }())
         
  }
    ] 
                
});

//CPUCPUCPUCPU
Highcharts.chart('cpu', {
  //动态生成
  chart: {
      type: 'spline',
      animation: Highcharts.svg, // don't animate in old IE
      marginRight: 10,

      events: {
          //加载新的点
            load: function() {

            // set up the updating of the chart each second
            // 类里面的series
            var series = this.series[0];

            //1000ms刷新一次 
            setInterval(function() {
                $.getJSON('/ajax_dict_realtime/?info=cpu',
                function(ret) {
                        
                // 把 ret 的每一项显示在网页上
                //var x = Date.parse(new Date(ret['time'])), // current time 
                                    
                var x = (new Date()).getTime(),
                // current time
                y = parseFloat(ret['value']);

            series.addPoint([x, y], true, true);})
        },1000);
    } }
  },
  // the title of table
  title: {
      text: 'CPU使用率'
  },
  xAxis: {
      title: {
          text: '时间'
      },
      type: 'datetime',
      tickPixelInterval: 150
  },
  yAxis: {
      title: {
          text: '数值(MB)'
      },
      plotLines: [{
          value: 0,
          width: 1,
          color: '#808080'
      }],
      max: 100
  },
  tooltip: {
      formatter: function () {
          return '<b>' + this.series.name + '</b><br/>' +
              Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
              Highcharts.numberFormat(this.y, 1) + '%';
      }
  },
  legend: {
      enabled: true
  },
  exporting: {
      enabled: true
  },
  credits: { 
      enabled: false   //右下角不显示LOGO 
  }, 
  plotOptions: {
      spline: {
          marker: {
              enabled: true
          }
      }
  },
  series: [{
      name: 'CPU使用率(%)',
      data: (function () {
          // generate an array of random data
          var data = [],
              time = (new Date()).getTime(),
              i;

          for (i = -19; i <= 0; i += 1) {
              data.push({
                  x: time + i * 1000,
                  y: getInfobyId(i+19)
              });
          }
          return data;
      }())
         
  }] 
                
});
Highcharts.chart('io', {
  //动态生成
  chart: {
      type: 'spline',
      animation: Highcharts.svg, // don't animate in old IE
      marginRight: 80,

      events: {
          //加载新的点
            load: function() {

            // set up the updating of the chart each second
            // 类里面的series
            var series = this.series[0];

            //1000ms刷新一次 
            setInterval(function() {
                $.getJSON('/ajax_dict_realtime/?info=mem',
                function(ret) {
                        
                // 把 ret 的每一项显示在网页上
                //var x = Date.parse(new Date(ret['time'])), // current time 
                                    
                var x = (new Date()).getTime(),
                // current time
                y = parseFloat(ret['valueUsed']);

            series.addPoint([x, y], true, true);})
        },1000);
    } }
  },
  // the title of table
  title: {
      text: '内存信息'
  },
  xAxis: {
      title: {
          text: '时间'
      },
      type: 'datetime',
      tickPixelInterval: 150
  },
  yAxis: [{
      title: {
          text: '数值(MB)'
      },
      plotLines: [{
          value: 0,
          width: 1,
          color: '#808080'
      }],
      max: 8000
  }],
  tooltip: {
      formatter: function () {
          return '<b>' + this.series.name + '</b><br/>' +
              Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
              Highcharts.numberFormat(this.y, 3);
      }
  },
  legend: {
      enabled: false
  },
  exporting: {
      enabled: true
  },
  credits: { 
      enabled: false   //右下角不显示LOGO 
  }, 
  plotOptions: {
      spline: {
          marker: {
              enabled: true
          }
      }
  },
  series: [{
      name: '已用内存(MB)',
      data: (function () {
          // generate an array of random data
          var data = [],
              time = (new Date()).getTime(),
              i;

          for (i = -19; i <= 0; i += 1) {
              data.push({
                  x: time + i * 1000,
                  y: getInfobyId(i+19)
              });
          }
          return data;
      }()) 
    }]
                
});
</script>
  </body>
</html>
