<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
  
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    
    <script src="{% static 'highcharts/code/highcharts.js' %}"></script>
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'highcharts/code/modules/exporting.js' %}"></script>
    <script src="{% static 'highcharts/code/modules/boost.js' %}"></script>
  </head>

<body class="layui-layout-body">


<div class="layer_form">  
      <div class="form_item">  
          <label>手机号码：</label>  
          <div class="form_item_input">  
              <input type="text" id="username" placeholder="手机号码" class="input_long"/>  
          </div>  
          <i class="red">*</i>  
      </div>  
      <div class="form_item">  
          <label>密 码：</label>  
          <div class="form_item_input">  
              <input type="password" id="password" placeholder="请输入密码" class="input_long"/>  
          </div>  
          <i>*</i>  
      </div>  
      <div class="form_item">  
          <label>验证码：</label>  
          <div class="form_item_input">  
              <input type="password" id="validateCode" placeholder="请输入验证码" class="input_short"/>  
          </div>  
          <a href="#" class="form_item_code" title="看不清换一张"></a>  
          <i>*</i>  
      </div>  
</div>


  </body>
</html>