<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>--数据统计分析--</title>
    {% load staticfiles %}
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="{% static 'layuiadmin/layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layuiadmin/style/admin.css' %}" media="all">

    <script src="{% static '/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/highcharts/code/highcharts.js' %}"></script>
    <script src="{% static '/highcharts/code/modules/exporting.js' %}"></script>
    <script src="{% static '/highcharts/code/modules/data.js' %}"></script>
    <script src="{% static '/highcharts/code/modules/heatmap.js' %}"></script>
</head>

<body>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-row layui-col-space15">

                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">温度最大最小值</div>
                            <div class="layui-card-body">
                                <div id="container1" style="margin: 0 auto"></div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">湿度最大最小值</div>
                            <div class="layui-card-body">
                                <div id="container2" style="margin: 0 auto"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <pre id="cav" style="display: none">{{ Temdata }}</pre>
    <pre id="csv" style="display: none">{{ Humdata }}</pre>
    <script src="{% static 'layuiadmin/layui/layui.js' %}"></script>
    <script src="{% static 'layuiadmin/modules/laybind.js' %}"></script>

    <script>
        var element;
        var add;
        layui.config({
            base: "{% static 'layuiadmin/' %}" //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'console', 'laytpl', 'element', 'layer', 'echarts'], function () {
            element = layui.element;

        });

    </script>
    <script>
    option = {
            timeline: {
                data: [
                    '2002-01-01', '2003-01-01', '2004-01-01', '2005-01-01', '2006-01-01',
                    '2007-01-01', '2008-01-01', '2009-01-01', '2010-01-01', '2011-01-01'
                ],
                label: {
                    formatter: function (s) {
                        return s.slice(0, 4);
                    }
                },
                autoPlay: true,
                playInterval: 1000
            },
            options: [
                {
                    title: {
                        'text': '2002全国宏观经济关联分析（GDP vs 房地产）',
                        'subtext': '数据来自国家统计局'
                    },
                    tooltip: {
                        trigger: 'axis',
                        showDelay: 0,
                        axisPointer: {
                            show: true,
                            type: 'cross',
                            lineStyle: {
                                type: 'dashed',
                                width: 1
                            }
                        }
                    },
                    toolbox: {
                        'show': true,
                        orient: 'vertical',
                        x: 'right',
                        y: 'center',
                        'feature': {
                            'mark': { 'show': true },
                            'dataView': { 'show': true, 'readOnly': false },
                            'restore': { 'show': true },
                            'saveAsImage': { 'show': true }
                        }
                    },
                    grid: { 'y': 80, 'y2': 100 },
                    xAxis: [{
                        'type': 'value',
                        'name': '房地产（亿元）',
                        'max': 3400
                    }],
                    yAxis: [{
                        'type': 'value',
                        'name': 'GDP（亿元）',
                        'max': 53500
                    }],
                    series: [
                        {
                            'name': 'GDP',
                            'type': 'scatter',
                            markLine: {
                                data: [
                                    { type: 'average', name: 'y平均值', itemStyle: { normal: { borderColor: 'red' } } },
                                    { type: 'average', name: 'x平均值', valueIndex: 0, itemStyle: { normal: { borderColor: 'red' } } }
                                ]
                            },
                            symbolSize: 5,
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true,
                                        formatter: '{b}'
                                    }
                                }
                            },
                            'data': dataMap.dataGDP_Estate['2002']
                        }
                    ]
                },
                {
                    title: { 'text': '2003全国宏观经济关联分析（GDP vs 房地产）' },
                    series: [
                        { 'data': dataMap.dataGDP_Estate['2003'] }
                    ]
                },
                {
                    title: { 'text': '2004全国宏观经济关联分析（GDP vs 房地产）' },
                    series: [
                        { 'data': dataMap.dataGDP_Estate['2004'] }
                    ]
                },
                {
                    title: { 'text': '2005全国宏观经济关联分析（GDP vs 房地产）' },
                    series: [
                        { 'data': dataMap.dataGDP_Estate['2005'] }
                    ]
                },
                {
                    title: { 'text': '2006全国宏观经济关联分析（GDP vs 房地产）' },
                    series: [
                        { 'data': dataMap.dataGDP_Estate['2006'] }
                    ]
                },
                {
                    title: { 'text': '2007全国宏观经济关联分析（GDP vs 房地产）' },
                    series: [
                        { 'data': dataMap.dataGDP_Estate['2007'] }
                    ]
                },
                {
                    title: { 'text': '2008全国宏观经济关联分析（GDP vs 房地产）' },
                    series: [
                        { 'data': dataMap.dataGDP_Estate['2008'] }
                    ]
                },
                {
                    title: { 'text': '2009全国宏观经济关联分析（GDP vs 房地产）' },
                    series: [
                        { 'data': dataMap.dataGDP_Estate['2009'] }
                    ]
                },
                {
                    title: { 'text': '2010全国宏观经济关联分析（GDP vs 房地产）' },
                    series: [
                        { 'data': dataMap.dataGDP_Estate['2010'] }
                    ]
                },
                {
                    title: { 'text': '2011全国宏观经济关联分析（GDP vs 房地产）' },
                    series: [
                        { 'data': dataMap.dataGDP_Estate['2011'] }
                    ]
                }
            ]
        };

    echartsApp = echarts.init($('#container1'), layui.echartsTheme);
        
    echartsApp.setOption(option);

    </script>

    <script>
        Date.prototype.format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1,                 //月份 
                "d+": this.getDate(),                    //日 
                "h+": this.getHours(),                   //小时 
                "m+": this.getMinutes(),                 //分 
                "s+": this.getSeconds(),                 //秒 
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                "S": this.getMilliseconds()             //毫秒 
            };
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for (var k in o) {
                if (new RegExp("(" + k + ")").test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                }
            }
            return fmt;
        }        
    </script>
    <script>

    </script>
</body>

</html>